html {
                height: 100%;
            }
            body {
                font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
                background: #000;
                color: #CFEBE4;
                font-size: 18px;
                line-height: 2;
                letter-spacing: 1.2px;
                margin: 0;
            }
            a {
                color: #ebf7f4;
            }
            
			
			* {
	margin:0;
	padding:0;
}
            #willerce {
   text-align: center;
   //max-width: 350px;
   animation: fade-in;
   animation-duration: 1s;
   -webkit-animation: fade-in 1s;
   margin: 10% auto auto;
   padding: 0px;
   //position:absolute;
	position:fixed;
left:0px;
top:2%;
//display:none;
transform: scale(0,0);
transition-property:width height;
transition-duration:2s;
transition-delay:0.8s;
 width: 100%;
}


.canvas {
    margin: 0 auto;
    display: block;
}
img#logo {
    width: 128px;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 0.61);
    opacity: 1;
    margin: 0 auto;
    margin-top: 20px;
	margin-bottom: 20px;
	transition: all 1.0s;  
}
#logo:hover {
    box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 19px #fff;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 	
    -moz-transform:rotate(360deg); 	
    -webkit-transform:rotate(360deg); 
    -o-transform:rotate(360deg); 	
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.hiosu {
  color: #3F3F3F99;
  font-weight: 500;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 5px 9px;
  border-radius: 10px;
  margin-top: 10px;
}
.hiosu:hover {
    color: #FFFFFFE6;
    background-color: rgba(255, 255, 255, 0.06);
    transition: all 350ms;
}
a {
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
	text-decoration: none;
}

a:link, 
a:visited { 
color:#D0CCCC; 
text-decoration:none; 
} 
a:hover, 
a:active { 
color:#fff; 
text-decoration:none; 
}
 		
.copyright {
    bottom: 0;
    cursor: default;
    height: 5em;
    left: 0;
    line-height: 0em;
    position: absolute;
    text-align: center;
    width: 100%;
}
.amd {
    bottom: 0;
    cursor: default;
    height: 3em;
    left: 0;
    line-height: 0em;
    position: absolute;
    text-align: center;
    width: 100%;
}